@model ImageViewModel

<div class="w-full flex flex-col justify-center items-center gap-6">
    <header class="text-4xl font-bold text-center">
        Image
    </header>

    <img src="@Model.ImageUrl" class="w-1/2 p-2 border-2 border-white portrait:w-11/12" />
</div>