<div class="w-1/2 m-auto flex items-center justify-center portrait:flex-col portrait:w-11/12">
    <a asp-action="TextToImage"
        class="w-full m-4 p-2 bg-indigo-500 text-white font-bold text-lg text-center shadow-md shadow-stone-900 rounded-lg hover:bg-indigo-200 hover:cursor-pointer">
        Text to Image
    </a>

    <a asp-action="ImageToVariant"
        class="w-full m-4 p-2 bg-blue-500 text-white font-bold text-lg text-center shadow-md shadow-stone-900 rounded-lg hover:bg-blue-200 hover:cursor-pointer">
        Image to Variant
    </a>
</div>