@model TextToImageViewModel

<div class="w-full flex flex-col justify-center items-center gap-6">
    <header class="text-4xl font-bold text-center">
        Text to Image
    </header>

    <form asp-action="GenerateImageFromText" method="post"
        class="m-auto w-1/2 p-4 bg-white text-black rounded-lg flex flex-col items-center justify-center gap-4 portrait:w-11/12">
        @Html.AntiForgeryToken()

        <div class="w-full flex flex-col">
            <label class="font-medium">App Password</label>
            <input asp-for=" @Model.AppPassword" type="password" placeholder="Enter the app's password..." required
                class="bg-stone-200 rounded-lg p-4 focus:bg-white focus:outline-none focus:ring-2" />
        </div>

        <div class="w-full flex flex-col">
            <label class="font-medium">Text Input</label>
            <input asp-for=" @Model.InputText" type="text" placeholder="Enter your text prompt..." required
                class="bg-stone-200 rounded-lg p-4 focus:bg-white focus:outline-none focus:ring-2" />
        </div>

        <input type="submit" value="Generate"
            class="w-full m-4 p-2 bg-blue-500 text-white font-bold text-lg shadow-md shadow-stone-900 rounded-lg hover:bg-blue-200 hover:cursor-pointer" />
    </form>
</div>